@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Quicksand&family=Space+Mono&display=swap');

* {
    border:0;
    padding:0;
    margin:0;
    max-width: 100%;
    max-height: 100%;
}

/* SETTING THE PARALLAX EFFECT AND CONTAINERS ASSOCIATED */

#parallax, 
.container
{
    display: flex;
    align-items:center;
    justify-content: center;
    font-weight:bold;
    width:100%;
    height: 100vh;
    color:aliceblue;
}
.container {
    display:flex;
    flex-direction: row;
}
h2
{
    color:rgb(26, 15, 15);
    font-size: 50px;
    font-family: 'Space Mono', monospace;
    text-decoration: underline darkgoldenrod;
    height: 50px;
    letter-spacing: 2px;
    background: rgb(196, 191, 191);
    padding: 1rem;
    margin-bottom: 5rem;
    text-align: center;

}
.container {
    display:flex;
}
div:nth-child(1){
    background-image:url(img/pexels-michel-caicedo-3713476.jpg);
    background-size:cover;
}

div:nth-child(2) {
    background:rgb(56, 20, 32);
}

div:nth-child(3){
    height:600px;
    background-image:url(img/pexels-photo-2646237.jpeg);
    background-attachment: fixed;
    background-size:cover;
}

div:nth-child(4) {
    background-color:rgb(4, 4, 32);
    height:600px;
}

.container div {
    background-color: black;
    margin: 1rem;
    background-attachment: fixed;
    color:rgb(14, 13, 13);
    background:transparent
}

/* GENERAL SETTINGS */
img {
    height: 5rem;
}

p{
    text-align: center;
}

div,
li,
p {
    font-family:Quicksand;
    font-size:large ;
}
h3 {
    color:rgb(221, 157, 157);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
h2:hover {
    color:rgb(90, 6, 35);
}
.title {
    margin-top: 20px;
    padding-top: 10px;
    margin-right: 20rem;
    margin-left: 20rem;
}

/* FIRST CONTAINER : INFORMATIONS */
.introduction {
    display: grid;
    grid-template-columns: 400px 1200px;
}
.container .infos,
.container .annonce {
    background-color:rgb(196, 191, 191);
    text-align: center;
}
.infos .title {
    margin-right:0px;
    margin-left: 0px;
    padding:0;
    margin:0;
    margin-bottom:2rem;
}
.annonce .title {
    margin-right:0px;
    margin-left: 0px;
    padding:0;
    margin:0;
    margin-bottom:2rem;
}

.container .infos {
    height:30%;
    margin-top: 10rem;
    width:70%
}
.container .annonce {
    height:20%;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.personal .diplomes {
    height:20%;
    width:70%;
    text-align: center;
    list-style:circle;
    background-color: rgb(196, 191, 191);
    margin-left:15%
}
li {
    list-style: none;
}
.diplomes .title {
    margin-right:0px;
    margin-left: 0px;
    padding:0;
    margin:0;
    margin-bottom:2rem;
    color:rgb(26, 15, 15);
    font-size: 40px;
    font-family: 'Space Mono', monospace;
    text-decoration: underline darkgoldenrod;
}

.diplomes li {
    list-style:square;
}
span {
    font-weight: bolder;
}

span:hover{
    color:rgb(148, 4, 52);
}
.divBtn {
    display: flex;
    justify-content: space-around;
    padding:1rem;
    margin-top: 2rem;
}
#githubBtn {
    background-image: url('GitHub-Mark-Light-64px.png');
    background-color: black;
    background-repeat: no-repeat;
    height: 5rem;
    width: 5rem;
    cursor:pointer;
    border:white 1px solid;
}
#linkBtn {
    background-image: url('LI-In-Bug2.png');
    background-repeat: no-repeat;
    background-color: black;
    height:5rem;
    width:5rem;
    cursor:pointer;
    border:white 1px solid;
}
a:hover {
    box-shadow: 5px 5px rgb(158, 76, 93);
}

/* TECHNOLOGIES */

.container .container2 .logo {
    display: flex; 
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
}
figcaption {
    text-align: center;
    color:lightsteelblue
}

/* ASIDE ACTIVITIES AND ADDITIONAL SKILLS */

#activities {
    display: flex;
    flex-direction: row;
}

.container #activities {
    display: grid;
    grid-template-rows: 1;
    height: 100%;
    width: 100%;
}

.complementary {
    display: flex;
    flex-direction: column;
    background: black;
}

.complementary p {
    color:white;
    margin-left: 15rem;
    margin-right:15rem;
}

#activitiesTitle {
    margin-right: 30rem;
    margin-left: 30rem;
}
#genealogyTitle,
#blogTitle {
    margin-left:15rem;
    margin-right:12rem;
    
}
.twoCols {
    display: flex;
    flex: wrap;
    justify-content: space-around;
}
.genealogy p {
    background-image: url("geneMb.png");
    height:11rem;
}

.blog p {
    /* background: linear-gradient(transparent, rgb(1, 1, 12)), url("Screenshot\ 2022-09-14\ at\ 20-02-33\ Portrait\ de\ Steve\ Coogan\ –\ L’observateur\ obsessionnel.png"); */
    background: transparent rgba(0, 0, 0, 0.459), url("Screenshot\ 2022-09-14\ at\ 20-02-33\ Portrait\ de\ Steve\ Coogan\ –\ L’observateur\ obsessionnel.png");
    height:11rem;
}
.genealogy p span,
.blog p span {
    background-color:transparent;
    border: solid 5px rgb(214, 214, 214);
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: large;
    color: white;
    /* color:rgb(175, 161, 99); */
    text-shadow: rgb(4, 12, 131) 3px 0 15px;
}
.words {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}


/* TRIVIA */

#triviaDiv {
    display: grid;
    grid-template-rows: 2;
}

.container .trivia {
    background-size: cover;
    background-attachment: fixed;
    background:transparent;
    display: flex;
    flex-direction: column;
}

.trivia,
#credits {
    display: flex;
    flex-direction:column;
}

#credits {
    padding-top: -6rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: row;
}
.iconsCreditDiv,
.imgCreditDiv {
    display: flex;
    flex-direction: column;
}
#iconsCredit {
    margin-top: 5px;
}

#icons {
    display:flex;
    justify-content: space-evenly;
}
